<form enctype="multipart/form-data" action="handler.php" method="POST">
    <p><b>Загрузка файла</b></p>
    <input name="userfile" type="file" required><br><br>
    <p><input type="submit" value="Загрузить"></p>
</form>
<form enctype="multipart/form-data" action="showidpic.php" method="GET">
    <br><p><b>Открыть фото с id:</b></p>
    <input name="id" type="number" value="1" style="width: 40px;"><br>
    <input name="db" type="hidden"><br>
    <p><input type="submit" value="Показать"></p>
</form>